.reportWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 1rem;
}

.reportBox {
    width: 100%;
    padding: 2rem;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 1040px;
}

.marginBottom {
    margin-bottom: 1.5rem;
}

.flexResponsive {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-end;
}

.flexResponsive .p-field {
    flex: 1 1 250px;
}

.centered-column {
    text-align: center;
}